@using FaithEngage.Core.DisplayUnitEditor        
@model DisplayUnitEditorContext

<form>
	<label>Title:
        <input name=Title type=text value="@Model.DisplayUnit.Name">
	</label>
    <label>Description:
		<input type=text name=Description value="@Model.DisplayUnit.Description">
	</label>
	<label>Text to display:
		<textarea name="Text" cols="40" rows="5">@Model.DisplayUnit.GetAttribute("Text")></textarea>
	</label>
</form>
